---
title: Azure Service Broker
owner: Partners
---

This documentation describes the Microsoft Azure Service Broker for VMware Tanzu.

Azure Service Broker extends Cloud Foundry with Azure-managed services that can be consumed by applications. It exposes services in the Marketplace, manages the provisioning and de-provisioning of service instances, and provides credentials for an application to consume the resource.

## <a id='overview'></a>Overview

Azure Service Broker currently supports the following Azure services:

* [Azure Storage](https://azure.microsoft.com/en-us/services/storage/)
* [Azure Redis Cache](https://azure.microsoft.com/en-us/services/cache/)
* [Azure DocumentDB (deprecated)](https://azure.microsoft.com/en-us/services/documentdb/)
* [Azure Service Bus](https://azure.microsoft.com/en-us/services/service-bus/)
* [Azure Event Hubs](https://azure.microsoft.com/en-us/services/event-hubs/)
* [Azure SQL Database](https://azure.microsoft.com/en-us/services/sql-database/)
* [Azure SQL Database Failover Group (preview)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview)
* [Azure Database for MySQL (preview)](https://azure.microsoft.com/en-us/services/mysql/)
* [Azure Database for PostgreSQL (preview)](https://azure.microsoft.com/en-us/services/postgresql/)
* [Azure CosmosDB](https://azure.microsoft.com/en-us/services/cosmos-db/)

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Azure Service Broker:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.11.6</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.12.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td> August 10, 2020</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x and v2.8.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x and v2.8.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Azure, AWS, GCP, OpenStack, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Azure Service Broker has the following requirements:

+ PCF v2.0 or later

+ [Azure Subscription](https://azure.microsoft.com/en-us/pricing/purchase-options/) and [service principal](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/get-started/create-service-principal.md)

+ A SQL database

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Azure Service Broker Support Team](mailto:MASB-Support@microsoft.com).

## <a id='license'></a>License

Apache License Version 2.0
