---
title: Azure Service Broker
owner: Partners
---

This documentation describes the Microsoft Azure Service Broker for Pivotal Cloud Foundry (PCF).

Azure Service Broker extends Cloud Foundry with Azure-managed services that can be consumed by applications. It exposes services in the Marketplace, manages the provisioning and de-provisioning of service instances, and provides credentials for an application to consume the resource.

## <a id='overview'></a>Overview

Azure Service Broker currently supports the following Azure services:

* [Azure Storage](https://azure.microsoft.com/en-us/services/storage/)
* [Azure Redis Cache](https://azure.microsoft.com/en-us/services/cache/)
* [Azure DocumentDB (deprecated)](https://azure.microsoft.com/en-us/services/documentdb/)
* [Azure Service Bus](https://azure.microsoft.com/en-us/services/service-bus/)
* [Azure Event Hubs](https://azure.microsoft.com/en-us/services/event-hubs/)
* [Azure SQL Database](https://azure.microsoft.com/en-us/services/sql-database/)
* [Azure SQL Database Failover Group (preview)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview)
* [Azure Database for MySQL (preview)](https://azure.microsoft.com/en-us/services/mysql/)
* [Azure Database for PostgreSQL (preview)](https://azure.microsoft.com/en-us/services/postgresql/)
* [Azure CosmosDB](https://azure.microsoft.com/en-us/services/cosmos-db/)

## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Azure Service Broker:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 17, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, v1.11.x, v1.12.x, v2.0.x, and v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, v1.11.x, v1.12.x, v2.0.x, and v2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Azure, AWS, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Azure Service Broker has the following requirements:

+ PCF v1.8 or later

+ [Azure Subscription](https://azure.microsoft.com/en-us/pricing/purchase-options/) and [service principal](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/get-started/create-service-principal.md)

+ A SQL database

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Azure Service Broker Support Team](mailto:azcfengg@microsoft.com).

## <a id='license'></a>License

Apache License Version 2.0
